.px-15 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.section-gap {
    padding: 120px 0;
}

.dark-mode {
    background: #CCCCCC;
}

.text-orange {
    color: #FFC800; 
}

.btn-outline-orange {
    border: 1px solid #FF8C00;
}

.header-section {
    background: url('/assets/img/People\ stading\ -\ Medium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-section h2 {
    font-family: Quicksand-Bold !important;
}

.features-container h5 {
    font-family: Quicksand-Bold !important;
}

.about-section h1 {
    font-family: Quicksand-Bold !important;
}

.overlap-container {
    /* position: relative; */
    overflow: hidden;
}

.overlap-image {
    position: absolute;
    /* height: ; */
    width: 20%;
    object-fit: cover;
    z-index: 1;
    margin-right: -32px;
}

.form-input-control {
    background: #fff;
    outline: 0;
    background: none;
}

.form-area input {
    padding: 15px;
}

.form-area input, .form-area textarea {
    border-radius: 0;
    font-size: 12px;
}

.btn-message_ {
    font-size: 15px;
}

.footer-area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-widget h6 {
    color: #fff;
    font-family: Quicksand-Bold;
}

.footer-widget p {
    color: rgb(117, 117, 117);
    font-size: 14px;
}

.footer-widget input {
    background: #181818;
    outline: 0;
    border: 1px solid;
    font-size: 13px;
    padding: 6px;
}

.footer-widget .btn {
    font-size: 13px;
}

.newsletterBtn {
    background: #0d6efd;
    outline: 0;
    color: white;
    font-size: 12px;
    padding: 10px;
    border: 1px solid #0e3877;
}

@font-face {
    font-family: Quicksand-Bold;
    src: url(/assets/Quicksand/static/Quicksand-Bold.ttf);
}
