.col-picture {
    background: url(/assets/img/Sunset-Highway-Original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form label {
    font-size: 13px;
}

form .form-text {
    font-size: 13px;
}